.complaint{
    max-width: 800px;
    background-color: white;
    margin: 20px auto;
    padding: 10px
}
.complaint__open{
    padding: 0px 20px;
}
.complaint__open >h3{
    font-size: 20px;
    margin-bottom: 10px;
}
.complaint__list{
    list-style: none;
}
.complaint__chat{
    margin-bottom: 10px;
    background-color: #ffd6b5;
    padding: 10px;
    border-radius: 5px;
}
.complaint__user{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 10px;
}
.complaint__admin{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: flex-end;
    margin-left: 10px;
}
.complaint__user > p{
    font-size: 16px
}
.complaint__admin > p{
    font-size: 16px
}
.complaint__close{}
.complaint__close > h3{
    font-size: 20px;
}
.complaint__img{
    /* overflow: hidden; */
}
.complaint__img > img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.complaint__reply{
    background-color: #fff;
    display: flex;
    border-radius: 10000px;
    padding: 10px 10px;
    margin-top: 20px;
}
.complaint__input{
    flex: 1;
    height: 20px;
    border: none;
    padding: 0px 10px;
}
.complaint__input:focus{
    outline: none;
    border: none;
}
.complaint__send{
    margin-left: 10px;
    width: 30px
}