.home__body{
    display: grid;
    grid-template-columns: 22rem 1fr;
    grid-gap: 3rem;
    padding: 0px 3rem;
}
.home__stats{
    /* background-color: darkorange; */
    box-shadow: 5px 1px 4px 0px rgb(0 0 0 / 12%);
    padding:3rem 2rem 0px 0px;
}
.home__graphs{
    margin-top: 3rem;
    justify-self: center;
}
.home__graphsinner{
 max-width: 800px;
}
.home__graph{
    background-color: white;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 1rem;
}
.home__stats-heading{
    font-size: 1.6rem;
    color: #8e8e8e;
    margin-bottom: 2rem;
}
.statcard{
    background-color: #fff;
    padding: 1rem 1.5rem;
    border-radius: 7px;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
.statcard-active{
    background-image: linear-gradient(to right,#ff90359f,#ff9e4e3a);
}
.statcard__heading{
    text-transform: uppercase;
    color: #8e8e8e;
    font-size: 11px;
}
.statcard__figure{
    font-weight: 700;
    font-size: 20px;
}
.graph__option{
    display: flex;
    justify-content: space-between;
}
.graph__option a{
    color: #fff;
    background-color: #E96B03;
    border: none;
    padding: 7px 10px;
    cursor: pointer;
    text-decoration: none;
    font-size: 13px;
    border-radius: 5px;
}
.table_overflow{
    overflow-x: scroll;
}
@media (max-width: 768px){
    .home__graphs{
        justify-self: auto;
    }
    .home__body{
        display: grid;
        grid-template-columns: 100%;
        grid-gap: 3rem;
        padding: 0px 3rem;
    }
    .stat__container{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(200px, 1fr));
        grid-gap: 10px;
    }
}